.Car {
	position: relative;
	margin-top: 15px;
	border: 1px solid white;
	border-radius: 10px;
	padding: 30px;
	transition: all .2s;
}

.Car:first-child {
	margin-top: 0;
}

.Car.selected {
	border: 1px solid red;
}

.Car .name {
	margin: 0;
}

.Car .year {
	margin: 0;
}

.Car .delete {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	padding: 10px;
	line-height: 0;
}