@import '../../styles/variables'

.Navigation
	display: flex
	align-items: center
	justify-content: flex-end
	padding: 20px
	width: 100%
	background-color: $light
	min-height: 80px
	& ul
		list-style: none
		padding: 0
		margin: 0
		display: flex
		align-items: center
		justify-content: flex-end
		gap: 20px
		& li
			font-size: calc(10px + 2vmin)
			& a
				color: $dark
				transition: all .2s
				text-decoration: none
				&:hover, &[aria-current="page"]
					color: $primary