@import './styles/variables'

.App
    text-align: center
    &-logo
        height: 40vmin
        pointer-events: none
    &-main
        background-color: $secondary
        min-height: calc(100vh - 80px)
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        font-size: calc(10px + 2vmin)
        color: white
        padding: 20px
    &-link
        color: $primary

@media (prefers-reduced-motion: no-preference)
    .App
        &-logo
            animation: App-logo-spin infinite 20s linear

@keyframes App-logo-spin
    from
        transform: rotate(0deg)
    to
        transform: rotate(360deg)